/*  When creating animations, for browser performance best practice is to use only two properties: opacity and transform
    ( reason behind this is that the browsers are optimized for only those two properties */
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem)
    }
        
    80% {
        transform: translateX(1rem);
    }
        
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
        
 @keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem)
    }
        
    80% {
        transform: translateX(-1rem);
    }
        
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
        
@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translatey(3rem)
    }
        
    100% {
        opacity: 1;
        transform: translate(0);
    }
}