/*  Universal selektor for reseting all the elements on the page so they dont have any margin or padding since by the default browsers add them to the elements, 
    also added for the pseudo-selectors since they dont inherit the values from the universal selector */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    /*  inherit value forces all elements on the web page to inherit the value from the body element*/
    box-sizing: inherit;
}
    
html {
    /* font size is given in % so that the default browser font wont be overridden and so that user can change default font-size*/
    /* defines how much 1rem is */
    font-size: 62.5%; // 1rem = 10px;
    scroll-behavior: smooth;

    @include respond(big-desktop) {
        font-size: 75%; // 1rem = 12px, 12/16 = 75%
    }

    @include respond(tab-land) {
        font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25%  
    }

    @include respond(tab-port) {
        font-size: 50%; // 1 rem = 8px, 8/16 = 50%
    }
}

body {
    /* changes the way box model calculates width and height in a way that border size and padding arent added to the full width and height */
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port) {
        padding: 0;
    }
}

/* This pesudo-class let's us change the way marked text looks like on our page ( by defaults it has blue background color and white text*/ 
::selection {
    background-color: $color-primary;
    color: $color-white;
}